.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
ahm_1980.tif
dd_1980.tif
prcp_agg_1980_annualmean.tif
prcp_agg_1980_monthlymean.tif
prcp_daily_1980_ncss.nc
rfr_1980.tif
rfr_1980.tif.aux.xml
shm_1980.tif
swe_daily_1980_ncss.nc
test.tif
tmax_daily_1980_ncss.nc
tmean_agg_1980_annualmean.tif
tmean_agg_1980_monthlymean.tif
tmean_daily_1980_ncss.tif
tmean_daily_1980_ncss.tif.aux.xml
tmean_daily_1980_ncss_annual.tif
tmean_daily_1980_ncss_monthly.tif
tmin_daily_1980_ncss.nc
